:root {
  --primary_color: #2196f3;
  --accent_color: #6ec6ff;
  --dark_color: #0069c0;
  --grey:#505050;
}
body {
  color: white;
  margin: 0;
  text-align: center;
  background-color: black;
  cursor: crosshair;
  overflow: hidden;
  scroll-margin-right: 10px;
  scrollbar-width: 5px;
  scrollbar-color: white transparent;
}
p{
  margin: 0px;
}
canvas {
  display: block;
  width: 100%;
  height: 100%;
}
.main {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none; 
  scrollbar-width: none;
}
.main::-webkit-scrollbar {
  display: none;
}

.navbar.transparent.navbar-inverse .navbar-inner {
  background: rgba(0,0,0,0.4);
}


/* ============================================================================================== */
/* hero */
.hero{
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 90vh;
  padding-top: 30vh;
}

.hero{
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 85vh;
  padding-top: 30vh;
}

/* ============================================================================================== */
/* about */
.about{
  color: black;
  background-color: white;
  padding-left: 10%;
  padding-right:  10%;
  width: auto;
  text-align: justify;
  padding-bottom: 150px;
}

.scroll_down{
  text-align: center;
  height: 15vh;
}


.photo{
  display: block;
}

.photo img{
  width: 100%;
  filter: grayscale(100%) contrast(120%);
  box-shadow: 10px 15px 25px 0 rgba(0,0,0,.2);
  display: block;
  transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
  margin-top: -10px;
}

.photo:hover img{
  box-shadow: 1px 1px 10px 0 rgba(0,0,0,.1);
  filter: none;
  scale:1.2;
}

.photo .glow-wrap{
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.photo .glow{
  display: block;
  position:absolute;
  width: 40%;
  height: 200%;
  background: rgba(255,255,255,.2);
  top: 0;
  filter: blur(5px);
  transform: rotate(45deg) translate(-450%, 0);
  transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.photo:hover .glow{
  transform: rotate(45deg) translate(450%, 0);
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  
}

.photo:hover img,
.photo:hover .glow-wrap{
  margin-top: 0;
  scale:1.2;
}


