:root {
  --primary_color: #2196f3;
  --accent_color: #6ec6ff;
  --dark_color: #0069c0;
}
body {
  color: white;
  margin: 0;
  text-align: center;
  background-color: black;
  cursor: crosshair;
  overflow: hidden;
  scroll-margin-right: 10px;
  scrollbar-width: 5px;
  scrollbar-color: white transparent;
}
canvas {
  display: block;
  width: 100%;
  height: 100%;
}
.main {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.main::-webkit-scrollbar {
  width: 5px;
}

.main::-webkit-scrollbar-track {
  background: transparent;
}

.main::-webkit-scrollbar-thumb {
  background: white;
  margin-right: 5px;
}

.main::-webkit-scrollbar-thumb:hover {
  background: var(--primary_color);
}

.navbar.transparent.navbar-inverse .navbar-inner {
  background: rgba(0,0,0,0.4);
}

/* ============================================================================================== */
/* hero */
.hero{
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 80vh;
}
.hero h1{
  margin-top: auto;
  margin-bottom: auto;
 
}
/* ============================================================================================== */
/* about */
.about{
  color: black;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  width: auto;
  height: 90vh;
}